@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1607792862576'); /* IE9 */
  src: url('iconfont.eot?t=1607792862576#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('data:application/x-font-woff2;charset=utf-8;base64,d09GMgABAAAAAAKgAAsAAAAABngAAAJSAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHEIGVgCCcAqBBIEGATYCJAMICwYABCAFhG0HMBusBREFdMl+HMbOkyUp/+NDFw5YaIaqcd/j4XGtfH+S2csBc0kCWgZXNmIrgaSrEiRZSJr77rVf7HOKDtBvGE8/qr5ldrP5fXbSnh9YAwweyQXwAHN21e4+cTn9CfQg3/jFucwxaVIXUBcHUkB7YxRZkUTeMHYTgUN4TKDLnB1xdvHwHBQZWBWI586KoORCsmxli9CqOZjFB7VSvax+8J5/P347FIVKnYC6iw/nOjj5rcC81G7a7lJAmKAdr5Gwg0xcrU2dl4SFJV2pbIl9VQffStNQi9irUVh/HajsATOq6J7EWHKr2Qpua6QV7I7aRqx4+/ViMvl8NdKGMEbv7TFqxvjj9dSiYto0aeGPp/vGQeuEwOYz5+AN1X38W68RAJHKz/6Ok6C5pls6FQSCm2/O/X/Qf/S/dGfw6c/kVx5orjno56Hs1h38HnHPrhxKgbnKvri2v7Jy2oYuXWgC3Tfk61jd6L3kQjE6wtNhNvUlZaZMVuyoRK3bEaKlQE8QXbYtj3cbRmKRO7HlTSHCgG+i0ucjkQy4gRn9JWpj7kTLQMREl+sxfGG3tXDJGULBqEFewKmuNcjKiah+RHuoBWWlHH9F8i4KRZoXs0tskebY4o+2ZDZgqGtgoTyHdd1BT90eFac75n6WZabuTanqmiBxBkECQxqQLoCjdFqGDmZJ6fOPkHVQE6ilY8D7ChHPjQ8KqbwHuFS1vTru5RXvyCoxZgCDdBpgocxDtVoH9PXz9pDCUrsRid5MBnuZvqp0fU3zdYegC9BXAWclrUcH0UoXBAAA') format('woff2'),
  url('iconfont.woff?t=1607792862576') format('woff'),
  url('iconfont.ttf?t=1607792862576') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
  url('iconfont.svg?t=1607792862576#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-guanbi:before {
  content: "\e608";
}

